/*
font-family: 'Arvo', serif;
font-family: 'Kelly Slab', cursive;
font-family: 'Josefin Sans', sans-serif;
*/
body {
  margin: 10px;
  padding: 5% 10%;
  color: #333;
  border: 1px dashed #BBB;
  background-color: #FFFFFB;
  background-image: url('../images/texture.png');
  font-family: 'Josefin Sans', sans-serif;
}
a {
  color: #6E75A4;
  font-family: 'Arvo', serif;
}

.site_name {
  margin: 20px 0px;
  font-size: 36px;
  font-family: 'Kelly Slab', cursive;
}

.description {
  padding: 0px 20px;
  line-height: 24px;
  font-size: 18px;
}

.container {
  padding: 20px 0px;
}

.title {
  line-height: 24px;
  font-size: 2em;
}
.content {
  padding: 20px 40px;
  font-size: 18px;
}
.content ul li {
  list-style-type: square;
}

.content-list {

}
.social-network {
  margin-bottom: 20px;
}

.social-network a{
  color: #333;
  padding: 10px;
}