---
const currentYear = new Date().getFullYear();
---

<footer class="mt-16 text-center">
  <p class="text-sm text-gray-500">
    Copyright © 2013 - {currentYear}
    <a href="/" class="text-gray-600 hover:text-gray-900"> Roy Lin</a>
    All Rights Reserved.
  </p>
</footer>

