---
const NAV_ITEMS = [
  {
    path: '/blog',
    label: '文章',
  },
  {
    path: '/songs',
    label: '喜歡的歌曲',
  },
];
---

<header class="bg-gray-900">
  <nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8" aria-label="Top">
    <div class="flex w-full items-center justify-between border-b border-gray-500 py-6">
      <div class="flex items-center">
        <a href="/" class="text-white text-xl font-semibold">
          Roy Lin 林昆彥
        </a>
      </div>
      <div class="ml-10 space-x-4">
        {NAV_ITEMS.map(({ path, label }) => (
          <a
            href={path}
            class="text-base font-medium text-white hover:text-gray-300"
          >
            {label}
          </a>
        ))}
      </div>
    </div>
  </nav>
</header> 
